h1 {
    font-family: 'Skranji', Arial, sans-serif;
    text-align: center;
    font-size: 92px;
}

h3 {
    font-family: 'Skranji', Arial, sans-serif;
    text-align: center;
    font-size: 48px
}

h4 {
    font-family: 'Skranji', Arial, sans-serif;
    text-align: center;
    font-size: 32px;
}

ul {
    text-align: center;
}

.link {
    display: inline;
    padding: 100px;
    font-family: 'Skranji', Arial, sans-serif;
    font-size: 32px;
}

.linkpic {
    display: inline;
    padding: 55px;

}

ul, .linkpic {
    margin-left: 15px;
}

a {
    color: black;
    text-decoration: none;
}

.food-image {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.ingredients-list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 450px;
    margin-left: 450px;
    list-style: none;
    text-align: left;
    line-height: 30px;

}

.steps-list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 350px;
    margin-left: 350px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}